.git/*
env/
.env
.env/
venv/
.venv
.venv/

__pycache__/
*.py[cod]

.idea
*.env
.DS_Store
.AppleDouble
.LSOverride

*.sublime-project
*.sublime-workspace

temp/
.temp/
.temp
temp/

static/
posts/static/
media/

db.sqlite3
